@import '../../config.css';

.quick_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 2rem;
    margin: 2rem 0;
}

.quick_section_right {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1rem;
}

.quick_section_right p {
    color: var(--quatre);
    margin-bottom: 15px;
    text-align: justify;
    
    max-width: 32rem;
}
.quick_section_right h2 {
    color: var(--quatre);
    font-weight: bold;
    margin-bottom: 0.5rem;
}


.quick_section_left {
    flex: 1 1 40%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.quick_section_left ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.quick_section_left li {
    margin-bottom: 0.75rem;
    color: var(--quatre);
    font-size: 1rem;
    text-align: left;
}