@import '../../config.css';
.title{
    text-align: start;
    /* color: #212EA0; */
    color: var(--un);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;
}
.title h2{
    font-size: 35px;
    color: var(--quatre);
    margin-top: 5px;
    text-transform: none;
}