@import '../../config.css';
nav{
    width: 100%;
    /* background: #333; */
    color: var(--cinq);
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

/* .logo{
    width: 180px;
} */
/*Replace logo with left justified Name + Title*/
nav h1{
    font-size: 30px;
    color: var(--cinq);
    margin-left: 20px;

}
.light_h1{
    color: var(--quatre);
}
.dark_h1{
    color: var(--cinq);
}
/*Title: Computer Engineer Storyteller Artist*/
.un{
    font-size: 16px;
    color: var(--un);
    
}
.deux{
    font-size: 16px;
    color: var(--deux);
}
.trois{
    font-size: 16px;
    color: var(--trois);
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}
.dark_nav{
    color: var(--cinq);
    background: var(--quatre);
    transition: all 0.5 ease;
}
.light_nav{
    color: var(--quatre);

    transition: all 0.5 ease;
}

.menu_icon{
    display: none;

}

/*media query*/
/*@media (max-width: 1000px){
    .logo{
        width: 140px;
    }
    nav ul li{
        margin: 10px 15px;
    }
}*/
@media (max-width: 1633px){
    nav{
        padding: 15px 0;
        
    }
    nav ul {
        position: fixed;
        top: 30px;
        bottom: 0;
        right: 0px;
        background: var(--quatre);
        
        z-index: -1;
        width: 200px;
        /*height: min-content;*/
        padding-top: 70px;
        transition: all 0.5s ease;
        text-align: right;
        
        



    }
    nav ul li{
        display: block;
        margin: 25px 40px;

    }
    .menu_icon{
        display: block;
        
        width: 30px;
        cursor: pointer;



        
    }
    .hide_mobile_menu{
        right: -200px;
        transition: all 0.5s ease;
    }
    .light_nav ul{
        color: var(--cinq);
    }
}

/*New menu*/
:root {
  /* --grey-color: #7f8c8d; */
  --menu-link-active-color-1: var(--un);
  --menu-link-active-color-2: var(--deux);
  --menu-link-active-color-3: var(--trois);
  --menu-link-active-color-4: var(--un);
  --menu-link-active-color-5: var(--deux);
  --menu-link-active-color-6: var(--trois);
}

/* ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
} */

/* a {
  text-decoration: none;
} */

.menu-hover-fill li {
  position: relative;
}

.menu-hover-fill li::before {
  position: absolute;
  content: "";
  top: 0;
  left: -1rem;
  width: 0.25rem;
  height: 100%;
  background: var(--menu-link-active-color);
  transition: 0.6s;

}

.menu-hover-fill li a {
  /* --menu-link-color: var(--grey-color); */
  position: relative;
  background: linear-gradient(var(--menu-link-active-color) 0 100%) left / 0 no-repeat;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: background-size 0.45s 0.04s;
  display: inline-block;
}

.menu-hover-fill li a::before {
  position: absolute;
  content: attr(data-text);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  /* color: var(--menu-link-color); */
}

.dark_menu li a::before {
  color: var(--cinq);
}
.light_menu li a::before {
  color: var(--quatre);
}

/* Define active colors for each menu item */
    .menu-hover-fill li:nth-child(1) {
      --menu-link-active-color: var(--menu-link-active-color-1);
    }

    .menu-hover-fill li:nth-child(2) {
      --menu-link-active-color: var(--menu-link-active-color-2);
    }

    .menu-hover-fill li:nth-child(3) {
      --menu-link-active-color: var(--menu-link-active-color-3);
    }

    .menu-hover-fill li:nth-child(4) {
      --menu-link-active-color: var(--menu-link-active-color-4);
    }

    .menu-hover-fill li:nth-child(5) {
      --menu-link-active-color: var(--menu-link-active-color-5);
    }

    .menu-hover-fill li:nth-child(6) {
      --menu-link-active-color: var(--menu-link-active-color-6);
    }

    .menu-hover-fill li:hover::before {
      left: calc(100% + 1rem);
    }

    .menu-hover-fill li:hover a {
      background-size: 100%;
    }

/*End of new menu*/