@import '../../config.css';
.footer{
    
    margin: 10 px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--cinq);
    background-color: var(--quatre);
    padding: 15px 10%;
    color:var(--cinq);
    position: relative;
    z-index: 1000000;/* Ensure footer is above other content */

}
.footer li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

/*Media Query*/
@media (max-width: 688px){
    .footer{
        display: block;
        text-align: center;
    }
    .footer ul li{
        margin: 10px;
    }
    .footer ul{
        margin-top: 10px;
    }
}