@import '../../config.css';
.video_player{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--quatre);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;


}
.video_player iframe{
    width: 90%;
    max-width: 900px;
    
    aspect-ratio: 16/9;
    border: 4px solid var(--cinq);
}
.hide{
    display: none;
}