/* Font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import './config.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: "Josefin Sans", serif;
}
body{

    /*position: relative;  Ensure body is a positioned element
    overflow: hidden;  Prevent stripes from overflowing */
    
    background-color: var(--cinq);

    


}
a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}
.container{
    padding-left: 10%;
    padding-right: 5%;

}
.container_2{
    padding-left: 11%;
    padding-right: 5%;
    /* padding-top: 5%; */
    /*spacing between elements*/
    padding-bottom: 5%;
    padding-top: 5%;

}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}
.btn{
    background:var(--cinq);
    color: var(--quatre);
    padding: 14px 25px;
    font-size: 16px;
    /* border-radius: 30px; */
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* transition: all 0.3s ease; */
}
.btn img{
    width: 20px;
    margin-left: 10px;
}
.btn.dark_btn{
    background: var(--un);
    color: var(--cinq);
}

/*media query*/
@media (max-width: 1200px){
    .container{
        padding-left: 10%;
        padding-right: 5%;
    }
    .btn{
        padding: 14px 22px;
    }
}