@import '../../config.css';
.about_me{
    margin: 11% auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.about_me_left{
    flex-basis: 20%;
    position: relative;
}
.about_me_right{
    flex-basis: 76%;
}

.about_me_below {
display: none;
transition: max-height 0.3s ease-in-out;
}

.about_me_below.show {
    display: block;
}
.about_me_see_more_btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1.2rem;
    background: var(--un);
    color: var(--quatre);

    border: none;

    cursor: pointer;
    font-size: 1rem;
    border: 3px solid var(--cinq);
}
.about_me_see_more_btn:hover {
    border-color: var(--quatre);
    transition: 0.3s;
}

.about_me_img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.about_me h3{
    font-size: 16px;
    font-weight: 600;
    color: var(--un);
    /* Added for coherence with previous components */
    text-transform: uppercase;

}
.about_me h2{
    font-size: 35px;
    color: var(--quatre);
    margin: 10px 0;
    max-width: 400px;
}
.about_me p{
    color: var(--quatre);
    margin-bottom: 15px;
    text-align: justify;
}
.vignette-list {
    list-style: none;
    padding-left: 0;
    margin: 0 0 15px 0;
}

.vignette-list li {
    position: relative;
    padding-left: 1.5em;
    margin-bottom: 0.5em;
    color: var(--quatre);
    text-align: justify;
}

.vignette-list li::before {
    content: '•';
    position: absolute;
    left: 0;
    color: var(--un); /* or any color you want */
    font-size: 1.2em;
    line-height: 1;
}


/* Media Query */
@media (max-width: 800px){
    .about_me{
        padding-top: 25%;
        flex-direction: column;
    }
    .about_me_left{
        flex-basis: 100%;
        margin: 20px;
    }
    .about_me_right{
        flex-basis: 100%;
        order: 2;
    }
}